.NavBar {
    background-color: lightblue;
    position: sticky;
    top: 0;
}

.NavBar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.NavBar nav a:first-of-type {
    margin-left: auto;
}

.NavBar h3 {
    font-size: 24px;
    margin-left: 5rem;
}

.NavBar a {
    margin-right: 5rem;
}

.NavBar a:hover {
    background-color: blue;
}

.Footer nav {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    padding: 30px;
    margin-top: 50px;
    bottom: 0;
}

.Footer h3 {
    margin: 0;
    font-size: 24px;
    margin-left: 5rem;
}

.Footer a {
    margin-right: 5rem;
}

.Footer a:hover {
    background-color: blue;
}